# Ignore Node modules and environment variables
node_modules/
.env

# Ignore compiled JavaScript files
dist/
*.js
*.js.map

# Ignore TypeScript cache
.tscache/

# Ignore OS and editor-specific files
.DS_Store
*.log
.vscode/
